@{
    ViewBag.Title = ViewBag.Title+"-广州国际轻纺城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TextileCity.Entity;
@{
    Material dataModel = new Material();
    if (ViewData["DataModel"] != null)
    {
        dataModel = ViewData["DataModel"] as Material;
    }
    string categoryTypeUrl = string.Empty;
    if (ViewData["CategoryTypeUrl"] != null)
    {
        categoryTypeUrl = ViewData["CategoryTypeUrl"].ToString();
    }
    string category = string.Empty;
    if (ViewData["CategoryName"] != null)
    {
        category = ViewData["CategoryName"].ToString();
    }
    List<string> images = new List<string>();
    if (ViewData["Images"] != null)
    {
        images = ViewData["Images"] as List<string>;
    }
}
<script src="/js/jquery.galleriffic.js"></script>
<script src="/js/jquery.opacityrollover.js"></script>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9 m-980 ">
            <div class="w980">
                <ul class="breadcrumb">
                    <li>
                        <a href="/">轻纺城</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="/textile/@categoryTypeUrl">@dataModel.CategoryType</a> <span class="divider">/</span>
                    </li>
                    <li>
                        <a href="@string.Format("/textile/{0}/{1}", categoryTypeUrl, dataModel.CategoryID)">@category</a> <span class="divider">/</span>
                    </li>
                    <li class="active">@dataModel.Name</li>
                </ul>
                <div class="gallery p3 ">
                    <div class="wrapper indent-bot ">
                        <div id="gallery" class="content-img">
                            <div id="controls" class="controls"></div>
                            <div class="wrapper">
                                <div class="slideshow-container">
                                    <div id="slideshow" class="slideshow"></div>
                                </div>
                            </div>
                        </div>
                        <div class="navigation-container">
                            <div id="thumbs" class="navigation ">
                                <ul class="thumbs noscript">
                                    @{
                                        if (images.Count <= 0)
                                        {                                              
                                        <li>
                                            <a class="thumb" href="/img/noimage.jpg" title="">
                                                <img src="/img/noimage.jpg" /><span></span> </a>
                                        </li>
                                        }
                                        else
                                        {
                                            foreach (string image in images)
                                            {
                                            
                                        <li>
                                            <a class="thumb" href="@image" title="">
                                                <img src="@image"/><span></span> </a>
                                        </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="inner">
                        <div class="mar-r20 mar-b0  text-black">
                            <p class="title ">@dataModel.Name</p>
                            <div>@dataModel.Intro</div>
                        </div>
                    </div>
                </div>
                <div class="well well-small">
                    <div id="submitModal" class="modal hide fade txt-black" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 class="font-color-red">添加成功！</h3>                               
                            </div>
                            <div class="modal-body"> 
                                <h3>当前购物车有<span id="cart-count"></span>件商品</h3>
                                <h4>共 <em>¥</em><span id="cart-price"></span></h4>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-success" aria-hidden="true" data-dismiss="modal">继续</button>
                                <a class="btn btn-red" href="/account/cart">去结算</a>
                            </div>
                        </div>
                    @{
                        if (dataModel.CategoryType == CategoryType.Fabric)
                        {
                        <form class="form-b0" id="form-fabric">
                            <div class="row mar-l15">
                                <div class="span8">
                                    <fieldset>
                                        <legend class="text-success">制作工艺</legend>
                                        <input type="hidden" id="craft" name="craft" value="">
                                        <input type="hidden" id="current-craft-price" name="current-craft-price" value="">
                                        <ul class="inline row marleft0 craft-list" id="craft-list">
                                            @{
                            if (ViewData["Crafts"] != null)
                            {
                                List<Craft> crafts = ViewData["Crafts"] as List<Craft>;
                                foreach (Craft craft in crafts)
                                {
                                                <li class="span3">
                                                    <div class="craft-item" id="craft-@craft.CraftID">
                                                        <div id="craft-block-@craft.CraftID" class="craft-block">
                                                            <div class="name"><span>@craft.Name</span></div>
                                                            <div class="price">
                                                                <em>¥</em><span id="craft-price-@craft.CraftID">@craft.Price</span>
                                                                <a href="javascript:void(0)" id="craft-intro-@craft.CraftID" class="intro">工艺详情</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                }
                            }
                                            }
                                        </ul>
                                    </fieldset>

                                </div>
                                <div class="span4">
                                    <fieldset>
                                        <legend class="text-error">颜色样式</legend>
                                        <input type="hidden" id="materialid" name="materialid" value="@dataModel.MaterialID">
                                        <input type="hidden" id="style" name="style" value="1">
                                        <input type="hidden" id="current-style-price" name="current-style-price" value="@dataModel.Price">
                                        <ul class="inline row color-list" id="style-list">
                                            <li class="span4"><a id="style-1">
                                                <div id="style-block-1" class="color-block active">
                                                    <h4>本色</h4>
                                                    <div><em>¥</em><span id="style-price-1">@dataModel.Price</span></div>
                                                </div>
                                            </a>
                                            </li>
                                            @{
                            if (dataModel.PriceHigh > 0)
                            {
                                                <li class="span4"><a id="style-2">
                                                    <div id="style-block-2" class="color-block">
                                                        <h4>高彩</h4>
                                                        <div><em>¥</em><span id="style-price-2">@dataModel.PriceHigh</span></div>
                                                    </div>
                                                </a></li>
                            }
                            if (dataModel.PriceFancy > 0)
                            {                                           
                                                <li class="span4"><a id="style-3">
                                                    <div id="style-block-3" class="color-block">
                                                        <h4>花色</h4>
                                                        <div><em>¥</em><span id="style-price-3">@dataModel.PriceFancy</span></div>
                                                    </div>
                                                </a></li>
                            }
                                            }
                                        </ul>

                                    </fieldset>
                                    <fieldset>
                                        <legend>数量</legend>
                                        <div class="alert alert-error hide-msg" id="count-msg">
                                            <strong>数量必须为正整数!</strong>
                                        </div>
                                        <ul class="inline row numbers ">
                                            <li class=" btn-group span4"><button type="button" onclick="add(-10)" id="sub10" class="btn">-10</button>
                                                <button type="button" id="sub1" onclick="add(-1)" class="btn ">-1</button></li>
                                            <li class="span4">
                                                <input class="span12" onchange="total()" type="text" id="count" name="count" value="1" /></li>
                                            <li class="btn-group span4"><button type="button" id="add1" onclick="add(1)" class="btn">+1</button>
                                                <button type="button" id="add10" class="btn" onclick="add(10)">+10</button></li>
                                        </ul>
                                    </fieldset>
                                    <ul class="inline numbers  row">
                                        <li class="span6">
                                            <div class="total-title">总价：</div>
                                            <div class="total"><em>¥</em><span id="total-price"></span></div>
                                        </li>
                                        <li class="span6 mar-top25">
                                            <a class="btn btn-red btn-large btn-block" href="javascript:void(0)" onclick="ajaxsubmit()"><i class="icon-plus icon-white mar-r5"></i>加入购物车</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </form>
                        <div id="craftIntroModal" class="modal hide fade txt-black" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="craft-modal-header" class="font-color-red"></h3>
                                <h4 id="craft-modal-price" class="font-color-red"><em>¥</em></h4>
                            </div>
                            <div class="modal-body" id="craft-modal-body"></div>
                            <div class="modal-footer">
                                <button class="btn btn-success" aria-hidden="true" data-dismiss="modal">我知道了</button>
                            </div>
                        </div>
                        }
                        else
                        {
                        <form class="form-b0" id="form-accessory">
                              <input type="hidden" id="materialid" name="materialid" value="@dataModel.MaterialID">
                            <div class="row mar-l15">
                                @{
                            if (ViewData["Styles"] != null)
                            {
                                List<Style> styles = ViewData["Styles"] as List<Style>;
                                <div class="span7">
                                    <fieldset>
                                        <legend class="text-success">材质</legend>
                                          <input type="hidden" id="mstyle" name="mstyle" value="">
                                        <input type="hidden" id="current-mstyle-price" name="current-mstyle-price" value="0">                                      
                                             <ul class="inline row marleft0 craft-list" id="mstyle-list">
                                       @{                                           
                                foreach (Style s in styles)
                                {
                                        <li class="span3">
                                                    <div class="craft-item" id="mstyle-@s.StyleID">
                                                        <div id="mstyle-block-@s.StyleID" class="craft-block">
                                                            <div class="name "><span>@s.Name</span></div>
                                                            <div class="price">
                                                                <em>¥</em><span id="mstyle-price-@s.StyleID">@s.Price</span>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                }
                                       }
                                                 </ul>
                                    </fieldset>
                                </div>
                            }
                            else
                            {
                                 <input type="hidden" id="current-mstyle-price" name="current-mstyle-price" value="@dataModel.Price">
                            }
                                }
                                <div class="span5">
                                    <fieldset>
                                        <legend>数量</legend>
                                        <div class="alert alert-error hide-msg" id="count-msg">                                         
                                            <strong>数量必须为正整数!</strong>
                                        </div>
                                        <ul class="inline row numbers ">
                                            <li class="btn-group span4">
                                                <button type="button" onclick="addM(-10)" id="sub10" class="btn">-10</button>
                                                <button type="button"  id="sub1" onclick="addM(-1)" class="btn ">-1</button>
                                            </li>
                                            <li class="span4">
                                                <input class="span12" onchange="totalm()" type="text" id="count" name="count" value="1" /></li>
                                            <li class="btn-group span4">
                                                <button type="button" id="add1" onclick="addM(1)" class="btn">+1</button>
                                                <button type="button" id="add10" class="btn" onclick="addM(10)">+10</button></li>
                                        </ul>
                                    </fieldset>
                                    <ul class="inline numbers  row">
                                        <li class="span6">
                                            <div class="total-title">总价：</div>
                                            <div class="total"><em>¥</em><span id="total-price"></span></div>
                                        </li>
                                        <li class="span6 mar-top25">
                                            <a class="btn btn-red btn-large btn-block" href="javascript:void(0)" onclick="ajaxsubmitM()"><i class="icon-plus icon-white mar-r5"></i>加入购物车</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="span3 w310 ">
            <div class="tools">
                <div class="navbar">
                    <div class="navbar-inner par5">
                        <a class="brand-a  brand-g" href="#">
                            <div>Title</div>
                        </a>
                    </div>
                </div>

                <label for="search">搜索</label>
                <div class="input-append mar-r ">
                    <input class="span11 " placeholder="请输入你要找的面料、辅料" id="search" size="16" type="text">
                    <a class="btn" href="#"><i class=" icon-search"></i></a>
                </div>
                <div class="tools">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group tools">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in ">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group tools">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/material.js"></script>
@{
    if (dataModel.CategoryType == CategoryType.Fabric)
    {
        <script type="text/javascript">total();</script>
    }
    else
    {
         <script type="text/javascript">totalm();</script>
    }
}