@{
    ViewBag.Title = "ss";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}
@using TextileCity.Entity;
@{
    int currentParentID = -1;
    int currentChildID = -1;
    string currentTypeName = "面料";
    string currentParentName = string.Empty;
    string currentChildName = string.Empty;
    if (ViewData["CurrentParentID"] != null)
    {
        currentParentID = (int)ViewData["CurrentParentID"];
    }
    if (ViewData["CurrentChildID"] != null)
    {
        currentChildID = (int)ViewData["CurrentChildID"];
    }
}
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span4">
            <div id="category-list" class="mar-r">
                @{
                    string currentTab = "fabric";
                    if (ViewData["CurrentType"] != null)
                    {
                        currentTab = ViewData["CurrentType"].ToString();
                    }
                    if(currentTab=="fabric")
                    {
                        currentTypeName = CategoryType.Fabric;
                    }
                    else
                    {
                        currentTypeName =CategoryType.Accessory;
                    }
                }
                <input value="#@currentTab" id="current-tab" type="hidden" />

                <ul class="nav nav-type nav-pills " id="myTab">
                    <li><a href="#fabric">面料</a></li>
                    <li><a href="#accessory">辅料</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="fabric">
                        @{
                            if (ViewData["FabricCategories"] != null)
                            {
                                CategoryCollection fabrics = ViewData["FabricCategories"] as CategoryCollection;
                                List<Category> fabricParents = fabrics.ParentCategories;
                                string cssHeader = "category-header";
                              
                                foreach (Category parent in fabricParents)
                                {
                                    cssHeader = "category-header";
                            <div class="category-content">
                                @{
                                    if (parent.CategoryID == currentParentID)
                                    {
                                        cssHeader = "category-header-current";
                                        currentParentName = parent.Name;
                                    }                                   
                                }
                                <div class="@cssHeader">
                                    <a href="/textile/fabric/@parent.CategoryID">@parent.Name</a>
                                </div>
                                <ul class="category-list category-pills ">
                                    @{
                                    if (parent.CategoryID == currentParentID && currentChildID == -1)
                                    {
                                        <li><a class="active" href="/textile/fabric/@parent.CategoryID">全部</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/textile/fabric/@parent.CategoryID">全部</a></li>
                                    }
                                    if (fabrics[parent.CategoryID] != null)
                                    {
                                        foreach (Category c in fabrics[parent.CategoryID])
                                        {
                                            
                                            if (c.CategoryID == currentChildID)
                                            {
                                        <li><a class="active" href="/textile/fabric/@c.CategoryID">@c.Name</a></li>
                                                currentChildName = c.Name;
                                            }
                                            else
                                            {
                                        <li><a  href="/textile/fabric/@c.CategoryID">@c.Name</a></li>
                                            }
                                        }
                                    }
                                    }
                                </ul>
                            </div>
                                }
                            }
                        }
                    </div>
                    <div class="tab-pane" id="accessory">
                        @{
                            if (ViewData["AccessoryCategories"] != null)
                            {
                                CategoryCollection accessories = ViewData["AccessoryCategories"] as CategoryCollection;
                                List<Category> accessoryParents = accessories.ParentCategories;
                                string cssHeader = "category-header";
                                string cssActive = "";
                                foreach (Category parent in accessoryParents)
                                {
                                    cssHeader = "category-header";
                            <div class="category-content">
                                @{
                                    if (parent.CategoryID == currentParentID)
                                    {
                                        cssHeader = "category-header-current";
                                        currentParentName = parent.Name;
                                    }                                   
                                }
                                <div class="@cssHeader">
                                    <a href="/textile/accessory/@parent.CategoryID">@parent.Name</a>
                                </div>
                                <ul class="category-list category-pills ">
                                    @{
                                    if (parent.CategoryID == currentParentID && currentChildID == -1)
                                    {
                                        <li><a class="active" href="/textile/accessory/@parent.CategoryID">全部</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/textile/accessory/@parent.CategoryID">全部</a></li>
                                    }
                                    if (accessories[parent.CategoryID] != null)
                                    {
                                        foreach (Category c in accessories[parent.CategoryID])
                                        {
                                            cssActive = "";
                                            if (c.CategoryID == currentChildID)
                                            {
                                                 <li><a class="active" href="/textile/accessory/@c.CategoryID">@c.Name</a></li>
                                                currentChildName = c.Name;
                                            }
                                            else
                                            {
                                        <li><a href="/textile/accessory/@c.CategoryID">@c.Name</a></li>
                                    }
                                        }
                                    }
                                    }
                                </ul>
                            </div>
                                }
                            }
                        }
                    </div>
                </div>


                <!--/.well -->
            </div>
        </div>
        <!--/span-->

        <div class="span6">
            <ul class="breadcrumb mar-r10">
                <li>
                    <a href="/">轻纺城</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="@string.Format("/textile/{0}",currentTab)">@currentTypeName</a> <span class="divider">/</span>
                </li>
                @{
                    if(currentChildName!=string.Empty)
                    {
                         <li>
                    <a href="@string.Format("/textile/{0}/{1}",currentTab,currentParentID)">@currentParentName</a> <span class="divider">/</span>
                </li>
                <li class="active">@currentChildName</li>
                    }
                    else
                    {
                        <li class="active">@currentParentName</li>
                    }
                }
                
            </ul>
            <div id="list_content">

            
            @{Html.RenderAction("list", new { id = 1 });}
           
            </div>
        </div>

        <!--/span-->
        <div class="span2 ">
            <div class="tools">
                <label for="search">搜索</label>
                <div class="input-append ">
                    <input class="span10" placeholder="请输入你要找的面料、辅料" id="search" size="16" type="text">
                    <a class="btn" href="#"><i class=" icon-search"></i></a>
                </div>
                <div class="tools">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group tools">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Collapsible Group Item #1
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in ">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group tools">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Collapsible Group Item #2
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    Anim pariatur cliche...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/row-->

</div>
<!--/.fluid-container-->

<script type="text/javascript" src="/js/slimScroll.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>


