@{
    ViewBag.Title = "订单详情-广州国际轻纺城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TextileCity.Entity;
@{
    Dictionary<int, string> craftNames = new Dictionary<int, string>();
    if(ViewData["CraftNames"]!=null)
    {
        craftNames = ViewData["CraftNames"] as Dictionary<int, string>;
    }
    Order dataModel = new Order();
    if(ViewData["DataModel"]!=null)
    {
        dataModel = ViewData["DataModel"] as Order;
    }
}
<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li>
                    <a href="/">轻纺城</a> <span class="divider">/</span>
                </li>
                <li>
                    <a href="/account/me">个人中心</a> <span class="divider">/</span>
                </li>
                 <li>
                    <a href="/account/orders">我的订单</a> <span class="divider">/</span>
                </li>
                <li class="active">@dataModel.Number</li>
            </ul>
           
                <div class="well order-info">      
                    <div>   
                        <div class="page-header  cart-header" style="margin-bottom:15px">
                    <h4>订单信息   <small style="padding-left:25px">编号：<span>@dataModel.Number</span>配送方式：<span>@dataModel.Delivery</span></small></h4>
                </div>                        
                    <p>状态：<span>@dataModel.OrderState</span></p>
                    <p>总价：<span>@dataModel.Total.ToString("G")</span></p>
                    <p>下单时间：<span>@dataModel.AddTime.ToString()</span></p>
                    <p>联系方式：<span>@dataModel.LinkMan</span>电话：<span>@dataModel.Phone</span></p>
                    <p>配送地址：<span>@dataModel.Address</span></p>
                        </div> 
                       <div style="padding-top:15px">   
                      
                    @{
                        List<OrderItem> items = new List<OrderItem>();
                        if (ViewData["Items"] != null)
                        {
                            items = ViewData["Items"] as List<OrderItem>;
                        }   
                          <div class="page-header  cart-header" style="margin-bottom:15px">
                    <h4>物料列表<small style="padding-left:25px">共<em>@items.Count</em>件</small></h4>
                </div>                                     
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th class="span2">物料</th>
                                    <th class="span1">数量</th>
                                    <th class="span1">总价</th>
                                    <th class="span1">类别</th>
                                    <th class="span1">样式</th>
                                    <th class="span1">工艺</th>
                                     <th class="span1">状态</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (OrderItem item in items)
                                    {
                                    <tr>
                                        <td><a href="/material/@item.MaterialID">@item.MaterialName</a></td>
                                        <td>@item.Count</td>
                                        <td>@item.Total.ToString("G")</td>
                                        <td>@item.Type</td>
                                        <td>@item.StyleName</td>
                                        @{
                                            if(item.Type==CategoryType.Fabric)
                                            {
                                                 <td>@craftNames[item.CraftID]</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }
                                         <td>@item.State</td>
                                        
                                    </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        
                    }

                </div>
            </div>
        </div>
    </div>
</div>
